<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Phlow</title>
</head>
<body>
    <h1>ADD PHLOW</h1>
    <form action="/addPhlow" method="POST" id="addPhlowForm">
        <div id="tasks">
            <div>
                <label for="phlowName">Phlow Name:</label>
                <input name="phlowName" id="phlowName" value="">
            </div>
            <div class="taskInput" id="task1">
                <label for="task1">Task:</label>
                <input name="task1" id="task1" value="">
            </div>
            <div class="taskInput" id="task2">
                <label for="task2">Task:</label>
                <input name="task2" id="task2" value="">
            </div>
            <div class="taskInput" id="task3">
                <label for="task3">Task:</label>
                <input name="task3" id="task3" value="">
            </div>
        </div>
        <div>
            <button type ="button" id="newTaskBtn">Another Task</button>
        </div>
        <div>
            <button type="submit">Add Phlow</button>
        </div>
    </form>
    <script src="js/script.js"></script>
</body>
</html>