<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Phlow</title>
</head>
<body>
    <h1>ADD PHLOW</h1>
    <form action="/addPhlow" method="POST">
        <div>
            <label for="phlowName">Phlow Name:</label>
            <input name="phlowName" id="phlowName" value="">
        </div>
        <div class="taskInput">
            <label for="taskOne">Task:</label>
            <input name="taskOne" id="taskOne" value="">
        </div>
        <div class="taskInput">
            <label for="taskTwo">Task:</label>
            <input name="taskTwo" id="taskTwo" value="">
        </div>
        <div>
            <button id="newTaskBtn">Another Task</button>
        </div>
        <div>
            <button type="submit">Add Phlow</button>
        </div>
    </form>
    <script src="js/script.js"></script>
</body>
</html>