<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
</head>
<body>
    <h1>ADD PROJECT</h1>
    <form action="/addProject" method="POST">
        <div>
            <label for="clientOne">Client Name:</label>
            <input name="clientOne" id="clientOne" value="">
          </div>
        <div>
            <label for="clientOneMail">Client Email:</label>
            <input name="clientOneMail" id="clientOneMail" value="">
          </div>
          <div>
            <label for="clientTwo">Client Name:</label>
            <input name="clientTwo" id="clientTwo" value="">
          </div>
          <div>
            <label for="clientTwoMail">Client Email:</label>
            <input name="clientTwoMail" id="clientTwoMail" value="">
          </div>
          <div>
            <label for="eventDate">Event Date:</label>
            <input name="eventDate" id="eventDate" value="">
          </div>
          <div>
            <label for="eventLocation">Event Location:</label>
            <input name="eventLocation" id="eventLocation" value="">
          </div>
          <div>
            <button>Add project</button>
          </div>
    </form>
</body>
</html>